<!DOCTYPE html>
<html>
<head>
	<title>WASDipsum</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<header>
		<!-- Will hold the banner image and the title -->
		<h1>WASDipsum</h1>
		<h2>A Lorem Ipsum generator for video game and anime aficionados</h2>
	</header>
	
	<main>
		<ul>
			<li>Paragraphs<input type="number" name="paragraphs" placeholder="3"></li>
			<li>
				Include 
				<button>Game</button>
				<button>Both</button>
				<button>Anime</button>
			</li>
			<li>
				Insert &lt;p&gt; tags?
				<ul>
					<li><input type="radio" name="">Yes</li>
					<li><input type="radio" name="">No</li>
				</ul>
				
			</li>
		</ul>
	</main>
	
	<footer></footer>
</body>
</html>